
/** Breakpoints:
 * md > 768px
 * lg > 992px
 */

/**
 * Main theme
 * ======================
 **/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

.t-bg-red {
  background-color: #f72211;
}

.t-bg-gray {
  background-color: #f4f5f6;
}

.t-bg-verydark-gray {
  background-color: #c2d4d7;
}

.t-bg-white {
  background-color: white;
}

.t-color-red {
  color: #f72211;
  fill: #f72211;
}

.t-color-blue {
  color: #3581f4;
}

.t-color-white {
  color: white;
}

.t-color-black {
  color: black;
}

.t-color-gray {
  color: #807f84;
}

.t-color-darkgray {
  color: #666;
}

.t-font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.t-btn {
  color: black;
  font-weight: 700;
  font-size: 13px;
  background: #fee400;
  border-radius: 15px;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  letter-spacing: 0.08em;
}

.t-btn-icon {
  padding-left: 4px;
}

.t-size-s  { font-size: 0.85em; }
.t-size-xs { font-size: 0.75em; }

/**
 * Topbar
 * ======================
 **/
.topbar-logo {
  fill: white;
  width: 106px;
}

.topbar-logo svg {
  max-width: 100%;
}

.topbar-icon {
  font-size: 1.5rem;
}

.topbar-login {
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 992px) {
  .topbar-logo {
    width: 396px;
  }
}

/**
 * Page navigation
 * ======================
 **/
.pagenav-item {
  font-weight: 700;
  letter-spacing: 0.05em;
  border-right: 1px solid #d9d9d9;
  flex-grow: 1;
}

.pagenav-item:hover {
  cursor: pointer;
  color: #f72211;
}

.pagenav-search {
  outline: none;
  width: 60px;
}

.trending-bar-menu {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.trending-menu-item {
  color: #807f84;
  font-weight: bold;
}

.trending-menu-item:hover {
  color: #f72211;
  cursor: pointer;
}

.trending-menu-item:first-child {
  color: black;
  cursor: default;
}

/**
 * Main content
 * ======================
 **/

 .main-content {

 }


/**
 * Featured stories
 * ======================
 **/

.story-picture img {
  width: 100%;
  height: auto;
}

/**
 * Footer
 * ======================
 **/
.footer-logo {
  width: 236px;
}

.footer-logo svg {
  max-width: 100%;
}

.footer-copyright {
  font-size: 0.75rem;
}

.footer-nav-link:hover {
  color: black;
  cursor: pointer;
}

.footer-nav-item {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

footer .bi {
  cursor: pointer;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.bi-instagram:hover {
  color: #405de6;
}

.bi-youtube:hover {
  color: #c4302b;
}

.bi-linkedin:hover {
  color: #0077b5;
}

@media (min-width: 768px) {
  .footer-nav-item {
    border-right: 1px solid #dedede;
    font-size: 0.9rem;
  }
}

.newsletter-btn {
  background: #f72211;
  border: none;
  display: block;
  width: 100%;
}

.newsletter-btn-icon {
  position: relative;
  top: -0.15em;
}
